section.about
    .content
    
        article
            h2 Инвестиции в торговлю на акциях
            p Инвестирование в акции — это одна из самых привлекательных возможностей на рынке. <br> Сравните, сколько было бы у Вас сейчас на балансе счета cейчас, <br>  если бы Вы инвестировали $10.000 в январе 2015
            
            
        .about__company
        
            a.about__company__item
                    .about__company__item_b
                        .about__company__item_img
                            img(src="img/a-1.png")
                        .about__company__item_t $12 184
                
            a.about__company__item
                    .about__company__item_b
                        .about__company__item_img
                            img(src="img/a-2.png")
                        .about__company__item_t $14 680
                
            a.about__company__item
                    .about__company__item_b
                        .about__company__item_img
                            img(src="img/a-3.png")
                        .about__company__item_t $12 210
                
            a.about__company__item
                    .about__company__item_b
                        .about__company__item_img
                            img(src="img/a-4.png")
                        .about__company__item_t $26 613
                
            a.about__company__item
                    .about__company__item_b
                        .about__company__item_img
                            img(src="img/a-5.png")
                        .about__company__item_t $16 091
                        
        article.about__desc
            p *Расчет произведен на основе цен продаж акций на 29.09.2016 14:00 по Гринвичу, представленных на платформе eToro.<br><br> *Без учета кредитного плеча. Вы можете увеличить сумму своих инвестиций используя кредитное плечо в размере до X10.<br> Использование кредитного плеча может увеличить вашу прибыль, однако связано с повышенным уровнем риска. Торговля CFD сопряжена с риском.<br> Рискуйте только тем капиталом, который готовы потерять. Показатели прошлых периодов не гарантируют результат в будущем.<br>
        