.feedback-popup#feedback-popup
    .phbg
    .ab-tab
        .middle
            .feedback-popup__dis
                .ab-tab
                    .middle
                        form
                        
                            label ФИО
                            .feedback-popup__dis_inp-txt
                                input(required placeholder="ФИО")
            
                            .line                            
                                label.min Организация
                                label.min Телефон
                                
                            .line
                                .feedback-popup__dis_inp-txt.min
                                    input(required placeholder="Организация")                                                         
                                .feedback-popup__dis_inp-txt.min
                                    input(required placeholder="Телефон")
                                
                            label.min Сообщение
                            .feedback-popup__dis_inp-txt
                                textarea(required placeholder="Текст")
                                
                            .button-block
                                input.button(type="submit" value="отправить")
                                
                a.feedback-popup_close#feedback-close
                    span
                                