footer
    .f__img-bg
    .content
        article
            h3 Присоединяйтесь
            p Вы сможете присоединиться к более чем 4,500,000 трейдеров, осуществляющих торговые операции <br> на платформе ведущей мировой социальной инвестиционной сети!
            
        .f__floating
            .f__form.h__form__body2
            
        .f__foot
            .f__logo
                .middle
                    img(src="img/logo2.png")
                    
            .f__foot__item
                .middle
                    span.f__foot__item_txt © 2016 eToro – компания, предоставляющая финансовые услуги.
            
                                
            .f__foot__item
                .middle
                    .f__soc
                        a.ico.face
                        a.ico.tv
                        a.ico.inst
                        a.ico.linkedin
            .f__foot__item
                .middle
                    a.block__phone
                        i
                        span +7 (495) <b>648-64-43</b>
            
            





script(src="https://marketing.etorostatic.com/widgets/signup/signup.js")
script(src="js/jquery-1.7.2.min.js")
script(src="js/slick.js")
script(src="js/main.js")
script(src="js/paralax.js")
script(src="js/jquery.smoothscroll.js")
script(type="text/javascript" src="js/simple-lightbox.js")
script(type="text/javascript" src="js/gallery-box.js")
