header
    .h__img-bg
    .content
        .h__floating-t
            .middle
                article
                    h1 <b>Инвестируйте в акции</b> с помощью ведущей социальной сети трейдинга!
                    p Станьте одним из нескольких миллионов наших клиентов и откройте для себя успешные методы и стратегии инвестирования.
                    .button-block
                        a.button Узнать Подробнее
                    
                    .h__company
                    
                        a.h__company__item
                            img(src="img/l1.png")
                                                
                        a.h__company__item
                            img(src="img/l2.png")
                                                
                        a.h__company__item
                            img(src="img/l3.png")
                                                
                        a.h__company__item
                            img(src="img/l4.png")
                                                
                        a.h__company__item
                            img(src="img/l5.png")
                
                
                .h__form.h__form__body 
                    script(src="js/form.js")
                    
                            