.home
    .content
        .home__table
            .middle
                article
                    h1 Макао
                    span.home__table_desc Придумай свой способ испытать МАКАО
                    .button-block
                        a.button Подробнее