.left-block.filtrs-bar#left-sub-menu


    .title-block
        
            .form-float
                h4.inp-title Площадь участка, Га
                .form-float_val
                    .form-float_titl-l 0
                    input.form-float_val_inp#price1(type="text", name="price", maxlength="10")
                    span -
                    input.form-float_val_inp#price1_2(type="text", name="price", maxlength="10")
                    .form-float_titl-r 5000
                div(id="slider_price1") 
            .form-float
                
                .form-float_line
                    input.form-float_check(type="checkbox")
                    label Все районы
                    
            .form-float 
                h4.inp-title Расположение
                
                .form-float_line
                    input.form-float_check(type="checkbox")
                    label Автомобильное сообщение
                            
                .form-float_line
                    input.form-float_check(type="checkbox")
                    label Железнодорожное сообщение
            

    .title-block#title-block2
        a.ico 
            .middle <i></i>
        h4.inp-title2 Наличие строений
        .floatings_form#sub-filtrs-2
        
            .form-float
                .form-float_desc Площадь складских помещений, кв. м.
                .form-float_val
                    .form-float_titl-l 0
                    input.form-float_val_inp#price2(type="text", name="price", maxlength="10")
                    span -
                    input.form-float_val_inp#price2_2(type="text", name="price", maxlength="10")
                    .form-float_titl-r 25000
                div(id="slider_price2") 
        
        
            .form-float
                .form-float_desc Площадь производственных помещений, кв. м.
                .form-float_val
                    .form-float_titl-l 0
                    input.form-float_val_inp#price3(type="text", name="price", maxlength="10")
                    span -
                    input.form-float_val_inp#price3_2(type="text", name="price", maxlength="10")
                    .form-float_titl-r 25000
                div(id="slider_price3") 

                    
            .form-float
                .form-float_desc Площадь административных помещений, кв. м.
                .form-float_val
                    .form-float_titl-l 0
                    input.form-float_val_inp#price4(type="text", name="price", maxlength="10")
                    span -
                    input.form-float_val_inp#price4_2(type="text", name="price", maxlength="10")
                    .form-float_titl-r 25000
                div(id="slider_price4") 

                              
            .form-float
                .form-float_desc Площадь сельскохозяйственных помещений, кв. м.
                .form-float_val
                    .form-float_titl-l 0
                    input.form-float_val_inp#price5(type="text", name="price", maxlength="10")
                    span -
                    input.form-float_val_inp#price5_2(type="text", name="price", maxlength="10")
                    .form-float_titl-r 25000
                div(id="slider_price5") 

            
