section.info#about
    .info__img-bg
    .content
        article
            h3 <b>Мировой лидер</b> в области социального трейдинга
            p Более 5 000 000 зарегистрированных трейдеров
            
        .info__floating
        
            .info__floating__item
                .info__floating__item_img
                    img(src="img/i1.png")
                span.info__floating__item_t Полностью контролируемая <br> деятельность
                span.info__floating__item_desc Деятельность контролируется <br> Европейскими регуляторами
            
            .info__floating__item
                .info__floating__item_img
                    img(src="img/i2.png")
                span.info__floating__item_t Гарантированная <br> надежность
                span.info__floating__item_desc Ваши денежные средства <br> находятся на безопасном хранении <br> в первоклассных европейских <br> банках
            
            .info__floating__item
                .info__floating__item_img
                    img(src="img/i3.png")
                span.info__floating__item_t Безопасность <br> персональных данных
                span.info__floating__item_desc Мы не используем ваши <br> персональные данные для других <br> целей без вашего согласия.
                
                
        .info__floating.b-top
            span.info__floating_title МЫ ПРИНИМАЕМ
            
        .info__floating__c
        
            a.info__floating__c__item
                img(src="img/il1.png")
                
            a.info__floating__c__item
                img(src="img/il2.png")
                
            a.info__floating__c__item
                img(src="img/il3.png")
                
            a.info__floating__c__item
                img(src="img/il4.png")
                
            a.info__floating__c__item
                img(src="img/li5.png")
                
            a.info__floating__c__item
                img(src="img/li6.png")
                
            a.info__floating__c__item
                img(src="img/li7.png")
                        
            a.info__floating__c__item
                img(src="img/li8.png")
                                
            a.info__floating__c__item
                img(src="img/li9.png")
                                        
        
    