nav
    .content
        .nav__floating
            a.nav__logo
                .middle
                    img(src="img/logo.png")
            ul
                li
                    .middle
                        a(href="#") Инвестиции в торговлю
                li
                    .middle
                        a(href="#") О компаниях
                li
                    .middle
                        a(href="#") Контакты
            
            
            .nav__linked
                .middle
                    .button-block
                        a.button(href="#") Присоединиться
                        
                    a.block__phone
                        i
                        span +7 (495) <b>648-64-43</b>
            