section.news#news
    .content
        h3 Наши новости
        .news__button-block
            a.active.button#mont1   октябрь
            a.button#mont2   ноябрь
            a.button#mont3   декабрь
            
        .news__floating#news1
        
            .news__floating_item
                article
                    .news__floating_img
                        img(src="img/cijn.jpg")
                    .news__floating_txt
                        span.date 1-30 октября
                        h4 Международный музыкальный фестиваль Макао
                        p Международный музыкальный фестиваль в Макао – крупное ежегодное мероприятие, привлекающее в город сотни тысяч туристов в период с октября по ноябрь, на праздник ощущений собираются исполнители со всего мира, получившие международную известность. Программа, как правило, включает оперную, оркестровую и камерную музыку, китайскую народную музыку, джазовые композиции, Бродвейские постановки и живое 
                        .button-block 
                            a.button Подробнее
                
                           
            .news__floating_item
                article
                    .news__floating_img
                        img(src="images/1.jpg")
                    .news__floating_txt
                        span.date 1-30 октября
                        h4 Международный музыкальный фестиваль Макао
                        p Международный музыкальный фестиваль в Макао – крупное ежегодное мероприятие, привлекающее в город сотни тысяч туристов в период с октября по ноябрь, на праздник ощущений собираются исполнители со всего мира, получившие международную известность. Программа, как правило, включает оперную, оркестровую и камерную музыку, китайскую народную музыку, джазовые композиции, Бродвейские постановки и живое 
                        .button-block 
                            a.button Подробнее
                
                    
                    
        .news__floating#news2
        
            .news__floating_item
                article
                    .news__floating_img
                        img(src="img/cijn.jpg")
                    .news__floating_txt
                        span.date 1-30 октября
                        h4 Международный музыкальный фестиваль Макао
                        p Международный музыкальный фестиваль в Макао – крупное ежегодное мероприятие, привлекающее в город сотни тысяч туристов в период с октября по ноябрь, на праздник ощущений собираются исполнители со всего мира, получившие международную известность. Программа, как правило, включает оперную, оркестровую и камерную музыку, китайскую народную музыку, джазовые композиции, Бродвейские постановки и живое 
                        .button-block 
                            a.button Подробнее
                
                           
            .news__floating_item
                article
                    .news__floating_img
                        img(src="img/cijn.jpg")
                    .news__floating_txt
                        span.date 1-30 октября
                        h4 Международный музыкальный фестиваль Макао
                        p Международный музыкальный фестиваль в Макао – крупное ежегодное мероприятие, привлекающее в город сотни тысяч туристов в период с октября по ноябрь, на праздник ощущений собираются исполнители со всего мира, получившие международную известность. Программа, как правило, включает оперную, оркестровую и камерную музыку, китайскую народную музыку, джазовые композиции, Бродвейские постановки и живое 
                        .button-block 
                            a.button Подробнее
                
                                        
                    
        .news__floating#news3
        
            .news__floating_item
                article
                    .news__floating_img
                        img(src="img/tur1.jpg")
                    .news__floating_txt
                        span.date 1-30 октября
                        h4 Международный музыкальный фестиваль Макао
                        p Международный музыкальный фестиваль в Макао – крупное ежегодное мероприятие, привлекающее в город сотни тысяч туристов в период с октября по ноябрь, на праздник ощущений собираются исполнители со всего мира, получившие международную известность. Программа, как правило, включает оперную, оркестровую и камерную музыку, китайскую народную музыку, джазовые композиции, Бродвейские постановки и живое 
                        .button-block 
                            a.button Подробнее
                
                           

                
                    
        