.wrap
    float(100%)
    

    
//.home-abs
//    abs(block,100%,100%,0px,0px)
//    v = 100%
//    height "calc(%s + 70px)" % v !important
//    background: url(../img/home.jpg) no-repeat;
//    bgP(top,center,cover) 
//    overflow hidden;
    
    
//.inner 
//    abs(block,100%,auto,100%,0px)
//    min-height 500px;
    
    
article,
footer,
header,
section
    float-w(100%)
    
    
.fakebg
    position: absolute;
    display: block;
    width: 100%;
    v = 100%
    height "calc(%s + 70px)" % v !important
    background: url(../img/fakebg.png);
    z-index 99
    
    
h1, 
h3
    float-w(100%)
    display block
    font-size 36px
    text-align left
    font-family fonttxt
    font-weight 300
    b
        font-weight 700
     
h2
    float-w(100%)
    display block
    font-size 44px
    text-align left
    font-family fonttxt
    font-weight 300
    b
        font-weight 700

h4
    font-size 24px
    color coltxt
    text-align left
    font-weight 300

    

  
.content
    position relative
    display block
    margin 0 auto
    max-width 1180px
    min-width 300px
    
    
article
    float-w(100%)
    display block
    p
        font-size fontSize
        margin 20px 0
        line-height 30px
    
    
// video

//video
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    min-width: 100%;
//    min-height: 100%;
//    width: auto;
//    height: auto;
//    z-index: -100;
//    transform: translateX(-50%) translateY(-50%); 
//    background-size: cover;
//    transition: 1s opacity;
//    z-index 98
    

  
  
  
  //button-block & button
  
.button-block
    float-w(100%)
    margin-top 40px
    
    .button
        display inline-block
        font-family fontB2
        padding 16px 45px
        background colfirm
        color #fff
        text-transform uppercase
        font-size 14px
        border-radius 45px
        border solid 1px colfirm
        m-speed(0.3s)
        
    .button:hover 
        border solid 1px #fff
        background transparent

        
        
        
        
// link-block-phone

.block__phone
    float right
    display inline-block
    
    span
        display inline-block
        font-size 18px
        color #fff
        m-speed(.3s)
        white-space nowrap
        
        .bold 
            font-weight 700
            display inline
            
        
    i
        display inline-block
        width 10px
        height 14px
        bgP(center,center,contain)
        background url(../img/phone.png)
        position relative
        top 2px
        margin-right 12px
        
.block__phone:hover
    span
        color #4aa0e0
        
    
    
    
  
// nav  
@import "section/nav-block.styl" 
// header  
@import "section/header.styl" 
// home-block
//@import "section/home-block.styl" 
// about-block
@import "section/about-block.styl" 
// info-block
@import "section/info-block.styl" 
// info-block
@import "section/app-block.styl" 
// news-block
//@import "section/news-block.styl" 
// footer
@import "section/footer.styl" 
                        
        
        
        
        
    


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
//@media (max-width: 1400px) and (min-width: 1280px)
    
    
@media (max-width: 1279px) and (min-width: 1024px)
 
    .content 
        width 100%
        padding 0 25px
        
    .block__phone
        
        span
            font-size 14px
        

@media (max-width: 1023px) and (min-width: 768px)

 
    .content 
        width 100%
        padding 0 25px
        
    .block__phone
        
        span
            font-size 14px
            
    
@media (max-width: 767px)
 
    .content 
        width 100%
        padding 0 15px
        
    .block__phone
        
        span
            font-size 14px
            
    
    h1, 
    h3
        font-size 22px
        b
        font-weight 700
     
    h2
        font-size 24px


    h4
        font-size 16px
        
        
  
    .button-block
        float-w(100%)
        margin-top 5px
    
        .button
            padding 8px 28px
            font-size 14px
            m-speed(0.3s)
    