.app
    padding 100px 0
    position relative
    
    
    .button-block
        text-align center
        margin-top 32px
        
        .button
            font-size 14px
            padding: 10px 35px;
        
        .button:hover
            border-color colfirm
            color colfirm   
    
.app__item
    float-w(100%)
    min-height 250px
    border-radius 5px
    background-color rgb(255, 255, 255)
    box-shadow 0px 21px 29px 0px rgba(113, 113, 113, 0.07)
    margin 40px 0
    padding 42px
    
.app__item__left-block
    float-w(255px)
    padding-right 50px
    text-align center
    

.app__item__body
    float-w(840px)

    
    
.app__item_logo
    float-w(100%)
    text-align center
    img
        width auto
        display inline-block
        height auto
        max-width 100%
            
.app__item_desc
    float-w(100%)
    display block
    font-size 14px
    margin-top 42px
    b
        font-weight 700
            
.app__item_proc
    float-w(100%)
    display block
    color #949494
    font-size 16px
    margin-top 16px
    
.app__item_date
    float left
    display block
    font-size 12px
    color #949494
    margin-top 10px
    width 100%
    text-align center
    
.app__item__dl-block
    float-w(100%)
    text-align center
    margin-top 16px
    
    .dl
        display inline-block
        padding 5px 25px
        color colfirm
        border solid 1px colfirm
        border-radius 35px
        font-size 24px
        
    
article
    float-w(100%)
    
    h3
        margin-top -11px
    p
        font-size 16px
        color #949494
        padding-right 60px
        float-w(100%)
        
    img 
        margin-top 18px
        width 100%
        max-width 100%

        
.app__desc-inf        
    p
        color #949494
        font-size 12px
        text-align center
        line-height 1.8
        
        
.bg-t
    position absolute
    display block
    top 0px
    left 0px
    width 441px
    height 418px
    bgP(center,center,contain)
    background url(../img/bgt.jpg)
               
.bg-b
    position absolute
    display block
    bottom 0px
    right 0px
    width 458px
    height 470px
    bgP(center,center,contain)
    background url(../img/bgb.jpg)
        
        

      
    
//@media (max-width: 1400px) and (min-width: 1280px)

    
    
@media (max-width: 1279px) and (min-width: 1024px)
    

    .app__item__body
        width 70%
    
    .app__item__left-block
        width 30%
    
            


@media (max-width: 1023px) and (min-width: 768px)


    .app__item__body
        width 100%
        
        article
            h3
                text-align center
                
            p
                text-align center
                padding 0
    
    .app__item__left-block
        width 100%
        margin-bottom 45px
        padding 0px
        

          
    
@media (max-width: 767px)
    
    .bg-t
        display none
    .bg-b
        display none
    
    
    .app
        padding 0
        .content
            padding 0px
            
    .app__item
            padding: 35px 15px 45px;
            border-radius 0px
            margin 0px
            
            
    .app__desc-inf
        float-w(100%)
        padding 25px 20px
        
        p
            text-align left
    
     

    .app__item__body
        width 100%
        
        article
            h3
                text-align center
                
            p
                text-align center
                padding 0
                font-size 15px
    
    .app__item__left-block
        width 100%
        margin-bottom 45px
        padding 0px
                  
