header
    float-w(100%)
    height 700px
    background colH
    position relative
    

    
    h1
        color #fff
        margin-bottom 25px
    
    .content
        height 100%;
        
    article
        width 690px
    p 
        color #fff !important
        
.h__floating-t
    abs(table,100%,100%,0px,0px)
    padding-top 96px
        
    
.h__img-bg
    abs(block,100%,100%,0px,0px)
    bgP(top,center,cover)
    opacity .3
    background url(../img/home.jpg)
    
    
.h__company
    margin-top 65px
    float-w(100%)
    
.h__company__item
    float left
    display inline-block
    padding-right 38px
    border-radius: 12px;
    overflow: ellipsis;
    
    img 
        float left
        width auto
        max-width 100%
        display block
        
.h__company__item:last-child
    padding-right 0px
    
    
.h__form
    float right
    width 400px
    height 480px
    background colbg
    border-radius 5px
    

    
    
//@media (max-width: 1400px) and (min-width: 1280px)

    
    
@media (max-width: 1279px) and (min-width: 1024px)
    
    header
        min-height 700px
        height auto
        
        article
            width 100%
            padding 45px
            
            
            
    .h__floating-t 
        position relative
        float-w(100%)
        height auto
        
    .h__form
        display none
        


            

@media (max-width: 1023px) and (min-width: 768px)

    
    header
        min-height 700px
        height auto
        
        article
            width 100%
            padding 45px
            
            
            
    .h__floating-t 
        position relative
        float-w(100%)
        height auto
        
    .h__form
        display none
        
        
    
    .h__company__item
        img
            width 100%

@media (max-width: 767px)
  
    
    
    header
        min-height 700px
        height auto
        
        h1
            margin-bottom 0px
        
        article
            width 100%
            padding 0px
            p
                padding 0
            
            
            
    .h__floating-t 
        position relative
        float-w(100%)
        height auto
        padding-top 140px
        
    .h__form
        display none
        
        
    
    .h__company__item
        width 100%
        padding-right 0px
        margin 10px 0
        img
            width auto
            display block
            position relative
            margin 0 auto
            float none
