.home
    abs(block,100%,100%,0px,0px)
    z-index 100
    
    .content
        height 100%
        
    .home__table
        abs(table,100%,100%,0px,0px)
            
        article
            float-w(100%)
            margin-top 150px
            
            h1
                font-size 266px
                color #fff
                font-family fontB
                text-align left
                float-w(100%)
                
            .home__table_desc
                font-size 24px
                color #fff
                font-family fontM
                float-w(100%)
                display block
                text-transform uppercase
                position relative
                top -50px
                left 16px;
                
            .button-block
                position relative
                top -50px
                
                
                
                
                
                
                
                
                
                
                
    
    
@media (max-width: 1400px) and (min-width: 1280px)
    .home
        .home__table
            article
                h1
                    font-size 220px
                    
                        
    
@media (max-width: 1279px) and (min-width: 1024px)
    
    article
        padding 25px
    
    .home
        .home__table
            article
                h1
                    font-size 220px
                    
                           
    
@media (max-width: 1023px) and (min-width: 768px)
    
    article
        padding 25px
    
    .home
        .home__table
            article
                h1
                    font-size 180px
                    
                .home__table_desc
                    top -20px
                    
                                    
    
@media (max-width: 767px)
    
    article
        padding 25px
    
    .home
        .home__table
            article
                h1
                    font-size 65px
                    
                .home__table_desc
                    font-size: 16px;
                    color: #fff;;
                    float: left;
                    width: 100%;
                    display: block;
                    text-transform: uppercase;
                    position: relative;
                    top: 0px;
                    left: 0px;
                    
                .button-block
                    top 0px
                    margin-top 20px
                    
                    