.info
    min-height 720px
    background colH
    position relative
    padding 70px 0
    
    h3
        color #fff
        text-align center
        margin-bottom 20px
    article
        text-align center
        p
            color #fff
    
.info__img-bg
    abs(block,100%,100%,0px,0px)
    bgP(top,center,cover)
    opacity .3
    background url(../img/inf.jpg)
    
    

.info__floating
    float-w(100%)
    margin-top 50px
    text-align center
    position relative
    
    
.info__floating__item
    float-w(33.333333%)
    text-align center
    
.info__floating__item_img
    float left
    width 100%
    text-align center
        img
            width auto
            display inline-block
            height auto
            max-width 100%
            
.info__floating__item_t
    display block
    float-w(100%)
    margin-top 45px
    font-size fontSize
    color #fff
    
              
.info__floating__item_desc
    display block
    float-w(100%)
    margin-top 25px
    font-size 16px
    color #a4abc2
    
    
.info__floating_title
    display inline-block
    color #fff
    text-transform uppercase
    font-size 16px
    padding 10px 15px
    
.b-top
    position relative
    
.b-top::before
    content ''
    display block
    position absolute
    left 0px
    top:21px
    v = 50%
    width  "calc(%s - 100px)" % v !important
    height 1px
    background #5c687f
        
.b-top::after
    content ''
    display block
    position absolute
    right 0px
    top:21px
    v = 50%
    width  "calc(%s - 100px)" % v !important
    height 1px
    background #5c687f
    
.info__floating__c
    float-w(100%)
    margin-top 32px
    
.info__floating__c__item
    padding-right 88px
    float left
    
    img
        display block
        width auto
        height auto
        max-width 100%
        float left
        opacity .5
        m-speed(.3s)
        
.info__floating__c__item:hover
    img
        opacity 1
        

        
.info__floating__c__item:last-child
    padding-right 0
    

    
    


  
    
    
//@media (max-width: 1400px) and (min-width: 1280px)

    
    
@media (max-width: 1279px) and (min-width: 1024px)
    

    .info__floating__c__item 
        padding-right 55px
        float left
        
    
    .info__floating__c__item
        font-size 15px
    
 
    
            


@media (max-width: 1023px) and (min-width: 768px)
    
    .info
        article
            p
                padding-right 0px

    .info__floating__c__item 
        padding-right 30px
        float left
        
    
    .info__floating__c__item
        font-size 15px
        
        
    .info__floating__item
        width 100%
        margin-top 25px
    
        
    
@media (max-width: 767px)
    
    .info
        article
            p
                padding-right 0px

    .info__floating__c__item
        width 33.33333%
        padding-right 0px
        float left
        margin 5px 0
        
        img
            position relative
            display block
            margin 0 auto
            float none
        
    
    .info__floating__c__item
        font-size 15px
        
        
    .info__floating__item
        width 100%
        margin-top 65px
        
    .info__floating__item_t
        margin-top 14px
        
    .info__floating__item_desc
        margin-top 16px
    
        
    
    