nav
    position fixed
    top 0px
    left 0px
    height 96px
    width 100%
    background transparent
    z-index 999
    m-speed(.3s)
    
    .content
        height 100%;
        
    ul 
        float left
        height 96px
        
        li 
            display inline-table
            height 96px
            
            a 
                color #fff
                font-size 14px
                margin 0 15px
                m-speed(0.3s)
                
            a:hover
                color colfirm
    
.nav__floating
    float left
    display block
    size(100%,96px)
    
.nav__logo
    float left
    display table
    size(129px,96px)
    margin-right 30px
    
    a
        size(130px,40px)
        bgP(center,center,contain)
        background url(../img/logo.png)
        display block
    
    img 
        display block
        width 100%
        height auto
        
.nav__linked
    float right
    height 96px
    display table
    
    .block__phone
        position relative
        top 8px
    
    .button-block
        display inline-block
        float right
        margin 0
        margin-left 23px
        width auto
        
        .button
            background transparent
            border solid 1px #fff
            font-size 12px
            font-weight 600
            padding 12px 40px
            
        .button:hover
            background colfirm
            border-color colfirm
            
      
nav.fix
    background #fff
    
    .nav__logo
        a
            background url(../img/logof.png)
            
            
    ul        
        li      
            a 
                color #6aac0e    
            a:hover
                color #162345 
                
    .nav__linked 
                
        .block__phone
            span
                color #6aac0e 
                m-speed(.3s)
                .bold
                    m-speed(.3s)
            i
                background url(../img/phonef.png)
                    
        .block__phone:hover
            span
                color #162345 !important
            .bold
                color #162345 !important

            
           
            
    .button-block
        .button
            background transparent
            border solid 1px colfirm
            color colfirm
        .button:hover
            background colfirm
            border-color colfirn
            color #fff
    
            
            
//@media (max-width: 1400px) and (min-width: 1280px)

    
    
//@media (max-width: 1279px) and (min-width: 1024px)

            


@media (max-width: 1023px) and (min-width: 768px)

    nav
        ul 
            display none
        
    
@media (max-width: 767px) 
    
    nav
        height 85px
        
        ul 
            display none
            li
                a
                    display none
                    
                    
    .nav__logo
        width 30%
        height 77px
        
        a
            
            position relative
            display block
            margin 0 auto
            

        
    .nav__linked
        width 60%
        
        .button-block
            width 100%
            margin-top -15px
            text-align right
            float right
            
            .button
                padding: 8px 28px;
            
        .block__phone
            width 100%
            margin-top -2px
            text-align right
            float right
            margin-right 10px
            

        
        
     
    
            
@media (max-width: 480px)
    
     nav
        height 85px
        
        ul 
            display none
            li
                a
                    display none
                    
                    
        .nav__logo
            width 20%
            height 60px
        
            a
                position relative
                display block
                margin 0 auto
                width 65px
            

        
        .nav__linked
            width 80%
            position relative
            top -60px
        
            .button-block
                width 100%
                margin-top -15px
                text-align right
                float right
            
                .button
                    padding: 8px 28px;
            
            .block__phone
                width 100%
                margin-top -2px
                text-align right
                float right
                margin-right 10px
                
                span
                    font-size: 14px;
                    white-space nowrap
                    
                    b
                        font-size: 14px;
                        
            

        
     
    
        