nav
    position fixed
    top 0px
    left 0px
    height 96px
    width 100%
    background transparent
    z-index 999
    m-speed(.3s)
    
    .content
        height 100%;
        
    ul 
        float left
        height 96px
        
        li 
            display inline-table
            height 96px
            
            a 
                color #fff
                font-size 14px
                margin 0 15px
                m-speed(0.3s)
                
            a:hover
                color colfirm
    
.nav__floating
    float left
    display block
    size(100%,96px)
    
.nav__logo
    float left
    display table
    size(129px,96px)
    margin-right 30px
    
    a
        size(130px,40px)
        bgP(center,center,contain)
        background url(../img/logo.png)
        display block
    
    img 
        display block
        width 100%
        height auto
        
.nav__linked
    float right
    height 96px
    display table
    
    .block__phone
        position relative
        top 8px
    
    .button-block
        display inline-block
        float right
        margin 0
        margin-left 23px
        width auto
        
        .button
            background transparent
            border solid 1px #fff
            font-size 12px
            font-weight 600
            padding 12px 40px
            
        .button:hover
            background colfirm
            border-color colfirm
            
      
nav.fix
    background #fff
    
    .nav__logo
        a
            background url(../img/logof.png)
            
            
    ul        
        li      
            a 
                color #162345    
            a:hover
                color #4aa0e0
                
        
    .block__phone
        span
            color #162345
                    
    .block__phone:hover
        span
            color #4aa0e0
            
            
            
    .button-block
        .button
            background transparent
            border solid 1px #162345
            color #162345
        .button:hover
            background colfirm
            border-color colfirm
            color #fff
    
            
            
//@media (max-width: 1400px) and (min-width: 1280px)

    
    
//@media (max-width: 1279px) and (min-width: 1024px)

            


//@media (max-width: 1023px) and (min-width: 768px)


        
    
//@media (max-width: 767px)
    
        
    
        