.news
    padding-top 76px
    h3
        float-w(100%)
        margin-bottom 55px
        font-size 56px
        color coltxt2
        font-family fontBr
        text-align center
        
        
        
    .news__button-block
        float-w(100%)
        text-align center
        margin-bottom 70px
        
        .button 
            padding 12px 40px
            background #f5f1dc
            font-family fontB2
            text-transform uppercase
            color #665e32
            display inline-block
            margin 0 5px
            border-radius 45px
            m-speed(0.3s)
            
        .active
            background colfirm
            color #fff
                        
        .button:hover
            background colfirm
            color #fff
            
    .news__floating
        float-w(100%)
        display none
        
        .news__floating_item
            min-height 555px
            position relative
            float-w(100%)
            padding 0 0 65px
            
        article
            float-w(100%)
            padding 0px
            margin 0px
            
        .news__floating_img
            float-w(50%)
            
            img
                width 100%
                height auto
                display block
                
        
            
        .news__floating_txt
            float-w(50%)
            padding-left 50px
            
            .date
                display block
                float-w(100%)
                margin-bottom 34px
                color #989898
                font-family fontB2
                
            h4 
                display block
                float-w(100%)
                font-size 24px
                text-align left
                font-family fontB2
                margin-bottom 20px
                color coltxt
                
            p
                font-size 20px;
                
            .button-block
                margin-top 20px
    #news1
        display block
                
                
                
@media (max-width: 1279px) and (min-width: 1024px)
    
    .news
    
        h3
            font-size 38px
            
            
            
                        
                
@media (max-width: 1023px) and (min-width: 768px)
    
    .news
    
        h3
            font-size 32px
            
            
        .news__floating
            float-w(100%)
        
            .news__floating_item
                min-height 555px
                position relative
                float-w(100%)
                padding 0 0 65px
            
            article
                float-w(100%)
                padding 0px
                margin 0px
                margin-top 50px
            
            .news__floating_img
                float-w(100%)
            
                img
                    width 100%
                    height auto
                    display block
                    
            .news__floating_txt
                float-w(100%)
                padding-left 0px  
                margin-top 45px
                
                                    
                
@media (max-width: 767px)
    
    .news
        
        .news__button-block
            .button 
                margin 10px 5px
                margin-bottom 12px
                font-size 16px
                
    
        h3
            font-size 32px
            
            
        .news__floating
            float-w(100%)
        
            .news__floating_item
                min-height 555px
                position relative
                float-w(100%)
                padding 0 0 65px
            
            article
                float-w(100%)
                padding 0px
                margin 0px
                margin-top 50px
            
            .news__floating_img
                float-w(100%)
            
                img
                    width 100%
                    height auto
                    display block
                    
            .news__floating_txt
                float-w(100%)
                padding-left 0px  
                margin-top 45px
                
            
            
            
            
            
        
            
            
            
        